<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.magic_app_icon">

    <application
        android:label="Magic App Icon"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <service android:name=".MagicIconService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
            />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity alias with different icons -->
        <activity-alias
            android:name=".Red"
            android:exported="true"
            android:enabled="false"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_red"
            android:label="Magic App Icon Red">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Purple"
            android:exported="true"
            android:enabled="false"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_purple"
            android:label="Magic App Icon Purple">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>